body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
    background: url("../images/logo-dark.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.custom-indicators li {
    width: 10px;
    height: 10px;
    background-color: #000; /* Change this color as needed */
    border-radius: 50%;
    margin: 1px;
  }
  
  .custom-indicators .active {
    background-color: #fff; /* Change this color as needed */
  }


  .rotate {
    transform: rotate(270deg);
  }

  .nav-card {
    width: 20%;
    height: 400px;
    color: white;
    
  }

  .card-1 {
    background: url("../images/carousel-card-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .card-2 {
    background: url("../images/carousel-card-2.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .card-3 {
    background: url("../images/carousel-card-3.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  table caption {
    padding: .5em 0;
  }
  
  table.dataTable th,
  table.dataTable td {
    white-space: nowrap;
  }
  
  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }